{% extends 'main/base.html' %}

{% load static %}

{% block content %}

    <div class="d-flex align-items-center mt-20 mb-16">
        <div class="w-full px-2">
            <div class="  ">
                
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <div class=" flex flex-col container ml-2">
                            <span class="w-20 h-2 bg-gray-800 dark:bg-white mb-12"></span>
                        <h1 class="font-bebas-neue  text-2xl font-black flex flex-col leading-none dark:text-white text-gray-800">
                          ML Based Road Extraction
                          <!-- <span class="text-2xl"> the Storage ?</span> -->
                        </h1>
                        <p class="text-sm sm:text-base text-gray-700 dark:text-white mt-3">
                            Road View uses a machine learning model trained using U-Net architecture to make predictions. 
                            U-Net is a convolutional neural network and it works well even with fewer training samples and 
                            yields precise segmentation.
                            <br>
                            The output image is generated as a binary segmented image where the white pixels 
                            represent the road and the black pixels represent other information.
                        </p>
                        
                        <form id="submit_image_form" method="POST" action="{% url 'main:result' %}"
                        enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row mt-4">
                          <div class="col-md-6">
                              <label class="btn w-full   py- rounded-md bg-gray-900 text-gray-100 hover:bg-gray-100 hover:border-1 hover:border-gray-900   transition ease-linear cursor-pointer">
                                  Upload Image  <input id="img_upload" type="file" name="image" accept="image/*"
                                                     hidden>
                              </label>
                          </div>
                          <div class="col-md-6">
                              
                                  <button id="predict_btn" class="btn  w-full  py-2 rounded-md bg-gray-900 text-gray-100 hover:bg-gray-100 hover:border-1 hover:border-gray-900   transition ease-linear cursor-pointer hide">Predict</button>
                           
                          </div>
                      </div>
                  </form>
                        
                        </div>

                        
                    </div>
                    <div class="col-md-6">
                        <div class="row ">
                            <div class="w-full flex flex-row justify-center">
                                <img class="my-4  img-thumbnail"
                                     id="image"
                                     src="{% static 'images/default_image.gif' %}" alt="Card image cap">
                            </div>
                            <div class="upload-block w-full  ">
                                <div class="w-full">
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'main/modal.html' %}

{% endblock %}